DB_DATABASE=Base de Datos de la APP
DB_DATABASE_CRYPTO=Base de Datos de Cripto
DB_HOST=Host de la Base de Datos
DB_PASSWORD=Clave de la Base de Datos
DB_PORT=Puerto de la Base de Datos
DB_USER=Usuario de la Base de Datos
USERS_TABLE=Tabla de usuarios
PLANS_TABLE=Tabla de planes
IDOS_ICOS_TABLE=Tabla de idos e icos
OPORT_CRIPTO_TABLE=Tabla de oportunidades de Cripto (APP Database)
CHART_PROY_TABLE=Tabla de Charts Proyecciones
LIST_CRYPTO_TABLE=Tabla de la lista de Criptos
SEG_CRYPTO_TABLE=Tabla de Datos de Seguimiento de Oportunidades de Cripto
MARKET_DATA_TABLE=Tabla de Market Data
PRECIO_ACTUAL_TABLE=Tabla de Precios Actuales
RANKING_TABLE=Tabla de Ranking
API_KEY=Api Key para consultar las rutas
API_KEY_CALCULATOR=Api Key para la Calculadora de Inversion
DISCORD_CLIENT_ID= Client id de la aplicación en Discord
DISCORD_CLIENT_SECRET=Client secret de la aplicación en Discord
DISCORD_REDIRECT_URI=Url de redireccionamiento de la aplicación en Discord
DISCORD_GUILD_ID=ID del server en Discord
DISCORD_BOT_TOKEN=Token de acceso del Bot
API_KEY_OCTOPUS=Token para conectar con el api de EmailOctupus
ID_LIST_WEBINAR=token de la lista para guardar los contactos enm le bucket de EmailOctupus