<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planes Forex</title>
  <%- include('partials/header_v2') %>
</head>

<body>
  <div id="containerGeneral" class="container mx-2 px-4 py-4 min-vh-100">
    <div class="row my-sm-5 my-3 mx-auto">
      <div class="col-sm-12"><img class="logo" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/Invrtir+Fx+-+logo.png"></div>
      <div class="col-sm-12">
        <h1>¡Elige el plan que mejor se adapte a ti!</h1>
      </div>
    </div>
    <div id="planesInfo" class="d-flex  flex-lg-row flex-column my-sm-5 my-3">
      <div class="col flex-fill cardsPaquete me-sm-3 p-3 ">
        <form action="/planesForex/payPlan" method="post" data-rewardful="true">
          <div class="row row-cols-1">
            <div class="col">
              <h4 class="tituloPlan" style="text-align:center">PAQUETE INVERSIONISTA</h4>
            </div>
            <div class="col my-3">
              <div class="row">
                <div class="col-5">
                  <img class="img-fluid d-block" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-inversionista-logo.svg">
                </div>
                <div class="col-7">
                  <div class="row row-cols-1">
                    <div class="col">
                      <h5 class="subtituloPlan">Crypto + Acciones</h4>
                    </div>
                    <div class="col">
                      <p class="textoDescripcionPlan">
                        Este paquete incluye <strong>información y herramientas</strong> para invertir en <strong>acciones y criptomonedas</strong> , con el objetivo de brindarte las herramientas para convertirte en un inversionista exitoso, generando <strong>ganancias a mediano y largo plazo</strong>.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="d-flex justify-content-center align-items-end">
                <h2>$80</h2>
                <p>/mensual</p>
              </div>
            </div>
            <div class="col">
              <input type="hidden" name="idPrice" value=<%=price.id %>>
              <input class="btn btn-primary w-100" type="submit" value="Suscriberse">
            </div>
          </div>
        </form>

      </div>
      <div class="col flex-fill cardsPaquete me-sm-3 p-3">
        <div class="row row-cols-1">
          <div class="col">
            <h4 class="tituloPlan">Paquete Inversionista</h4>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-6">
                logo
              </div>
              <div class="col-6">
                <div class="row row-cols-1">
                  <div class="col">
                    <h5>Crypto + Acciones</h4>
                  </div>
                  <div class="col">
                    <p class="textoDescripcionPlan">
                      Este paquete incluye información y herramientas para invertir en acciones y criptomonedas, con el objetivo de brindarte las herramientas para convertirte en un inversionista exitoso, generando ganancias a mediano y largo plazo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">$80/mensual</div>
          <div class="col">Suscribirme</div>
        </div>
      </div>
      <div class="col flex-fill cardsPaquete me-sm-3 p-3">
        <div class="row row-cols-1">
          <div class="col">
            <h4>Paquete Inversionista</h4>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-6">
                logo
              </div>
              <div class="col-6">
                <div class="row row-cols-1">
                  <div class="col">
                    <h5>Crypto + Acciones</h4>
                  </div>
                  <div class="col">
                    <p class="textoDescripcionPlan">
                      Este paquete incluye información y herramientas para invertir en acciones y criptomonedas, con el objetivo de brindarte las herramientas para convertirte en un inversionista exitoso, generando ganancias a mediano y largo plazo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">$80/mensual</div>
          <div class="col">Suscribirme</div>
        </div>
      </div>
      <div class="col flex-fill cardsPaquete p-3">
        <div class="row row-cols-1">
          <div class="col">
            <h4>Paquete Inversionista</h4>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-6">
                logo
              </div>
              <div class="col-6">
                <div class="row row-cols-1">
                  <div class="col">
                    <h5>Crypto + Acciones</h4>
                  </div>
                  <div class="col">
                    <p class="textoDescripcionPlan">
                      Este paquete incluye información y herramientas para invertir en acciones y criptomonedas, con el objetivo de brindarte las herramientas para convertirte en un inversionista exitoso, generando ganancias a mediano y largo plazo.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">$80/mensual</div>
          <div class="col">Suscribirme</div>
        </div>
      </div>
    </div>
    <div id="thirdBlock" class="row cardsPaquete row-cols-1 mx-auto my-sm-5 my-3">
      <div class="col-lg-4  p-3">
        <div class="row align-items-center row-cols-1">
          <div class="col">
            <h4 class="tituloPlan" style="text-align:center">MEMBRESIA PREMIUM</h4>
          </div>
          <img class="logo my-3" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/membresia-logo.svg">
          <div class="col">
            <p class="m-4 textoDescripcionPaquete">
              Obtén acceso a acciones, criptomonedas, forex, índices sintéticos y una sección exclusiva de <strong>desarrollo personal</strong> con un <strong style="color:  #FF6601;">solo click</strong>.
            </p>
          </div>
          <div class="d-flex justify-content-around flex-row">
            <div class="flex-fill ">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-inversionista-logo.svg" class=" logoPaquete">
              <i class="plusPaquete bi bi-plus-circle-fill"></i>
            </div>
            <div class="flex-fill ">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-trader-pro-logo.svg" class="logoPaquete">
              <i class="plusPaquete bi bi-plus-circle-fill"></i>
            </div>
            <div class="flex-fill">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Pag-rentable-max-logo.svg" class="logoPaquete">
              <i class="plusPaquete bi bi-plus-circle-fill"></i>
            </div>
            <div class="flex-fill">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-trading-deportivo-logo.svg" class="logoPaquete">
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-8  custom-separator">
        <div class="row  row-cols-1">
          <div class="col firstSection">
            <div class="row align-items-center row-cols-sm-2 row-cols-1">
              <div class="col firstPlan">
                <div class="row  row-cols-1 p-3">
                  <div class="col">
                    <h4 style="text-align:center" class="tituloSubPaquete">MASTER</h4>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-center align-items-end">
                      <h1>$157</h1>
                      <p>/mensual</p>
                    </div>
                  </div>
                  <div class="col">
                    <input class="btn btn-primary w-100" type="submit" value="Suscriberse">
                  </div>
                </div>
              </div>
              <div class="col secondPlan">
                <div class="row row-cols-1 p-3">
                  <div class="col">
                    <h4 style="text-align:center">MASTER</h4>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-center align-items-end">
                      <h1>$157</h1>
                      <p>/mensual</p>
                    </div>
                  </div>
                  <div class="col">
                    <input class="btn btn-primary w-100" type="submit" value="Suscriberse">
                  </div>
                  <div class="col mt-3">
                    <div class="d-flex justify-content-center">
                      <p> <strong> Ahorro:</strong></p>
                      <p><strong style="color:  #FF6601;"> $74</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center row-cols-sm-2 row-cols-1">
              <div class="col firstPlan">
                <div class="row  row-cols-1 p-3">
                  <div class="col">
                    <h4>MASTER</h4>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-end">
                      <h1>$157</h1>
                      <p>/mensual</p>
                    </div>
                  </div>
                  <div class="col">
                    <input class="btn btn-primary w-100" type="submit" value="Suscriberse">
                  </div>
                  <div class="col">
                    <div class="d-flex">
                      <p>Ahorro:</p>
                      <p>$74</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col secondPlan">
                <div class="row row-cols-1 p-3">
                  <div class="col">
                    <h4>MASTER</h4>
                  </div>
                  <div class="col">
                    <div class="d-flex align-items-end">
                      <h1>$157</h1>
                      <p>/mensual</p>
                    </div>
                  </div>
                  <div class="col">
                    <input class="btn btn-primary w-100" type="submit" value="Suscriberse">
                  </div>
                  <div class="col">
                    <div class="d-flex">
                      <p>Ahorro:</p>
                      <p>$74</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>