<!DOCTYPE html>
<html lang="es-AR">

<head>
  <!-- CHARSET -->
  <meta charset="UTF-8">
  <!-- IE-EDGE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- VIEWPORT -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago Éxitoso </title>
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/73f851add2.js" crossorigin="anonymous"></script>
  <%- include('partials/header') %>
  <script>
    let emailClient = '<%= customer.email %>'
    console.log(emailClient);
    rewardful('convert', {
      email: emailClient
    })
  </script>
</head>


<body>
  <div class="container px-4">
    <div class="row">
      <div class="col-12 cover">
        <img class="logo" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/Invrtir+Fx+-+logo.png">
        <h1 class="titulo1">¡Te doy la Bienvenida!</h1>
        <p>
          <strong>
            <%= customer.name %>
          </strong> has accedido al siguiente plan <strong>
            <%= product.metadata.Nombre %>
          </strong>, a continuación los
          detalles:
        </p>
      </div>
      <div class="col-12 mb-lg-3 cover databox">
        <div class="primerafila row align-items-center">
          <% if (product.name==='Paquete H' ) { %>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-inversionista-logo.svg">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Este paquete incluye <strong>información y herramientas</strong> para invertir en acciones y criptomonedas.</li>
            <li class="list-group-item">Obtener <strong>desarrollo personal</strong>.</li>
          </ol>
          <% } else if (product.name==='Paquete TP' ) {%>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-trader-pro-logo.svg">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Este paquete incluye <strong>información y herramientas</strong> para invertir en divisas e índices bursátiles americanos.</li>
            <li class="list-group-item">Obtener <strong>desarrollo personal</strong>.</li>
          </ol>
          <% } else if (product.name==='Paquete RM' ){%>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Pag-rentable-max-logo.svg">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Este paquete incluye <strong>información y herramientas</strong> para invertir en indices sintéticos.</li>
            <li class="list-group-item">Obtener <strong>desarrollo personal</strong>.</li>
          </ol>
          <% } else if (product.name==='Paquete S' ) {%>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-trading-deportivo-logo.svg">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Este paquete incluye <strong>información y herramientas avanzadas</strong> para invertir en trading deportivo.</li>
            <li class="list-group-item">Obtener <strong>desarrollo personal</strong>.</li>
          </ol>
          <% } else if (product.name==='Membresía Premium' ) {%>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/membresia-logo.svg">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Acceso a <strong>forex, cripto, acciones, índices americanos e deportes</strong>.</li>
            <li class="list-group-item">Obtener <strong>desarrollo personal</strong>.</li>
          </ol>
          <% } %>

        </div>
      </div>
      <div class="d-flex flex-column flex-md-row ">
        <div class="col my-5 ms-2 databox">
          <div class="d-flex flex-column align-items-center">
            <p id="tituloBox">
              !Espera! Antes de empezar...
            </p>
            <p class="p-3">Te sugerimos que crees y fondees una cuenta con un broker que permita hacer operaciones en Forex.</p>
            <p class="p-3">Aqui en Invrtir, trabajamos con ..., a continuación te comparto un instructivo para crear y fondear una cuenta en Forex.</p>
            <div class="row align-items-center">
              <div class="col ">
                <img id="imgBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-broker-Landing.png">
              </div>
              <div class="col ">
                <a href="">
                  <img id="buttonBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-boton-broker-TYP.png">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</html>