<!DOCTYPE html>
<html lang="es-AR">

<head>
  <!-- CHARSET -->
  <meta charset="UTF-8">
  <!-- IE-EDGE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- VIEWPORT -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pago Éxitoso </title>
  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/73f851add2.js" crossorigin="anonymous"></script>
  <%- include('partials/header') %>
  <script>
    let emailClient = '<%= customer.email %>'
    console.log(emailClient);
    rewardful('convert', {
      email: emailClient
    })
  </script>
</head>


<body>
  <div class="container px-4">
    <div class="row">
      <div class="col-12 cover">
        <img class="logo" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/Invrtir+Fx+-+logo.png">
        <h1 class="titulo1">¡Te doy la Bienvenida!</h1>
        <p>
          <strong>
            <%= customer.name %>
          </strong> has accedido al siguiente curso <strong>
            <%= product.name %>
          </strong>, a continuación los
          detalles:
        </p>
      </div>
      <div class="col-12 mb-lg-3 cover databox">
        <div class="primerafila row align-items-center">
          <% if (product.name==='BP-Plan Premium - Paquete Oportunidades + Sesiones en vivo' ) { %>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-logo-premium-TYP.png">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Acceso completo a nuestros <strong>cursos en línea de estrategias avanzadas en forex.</strong></li>
            <li class="list-group-item">Hasta <strong>10 alertas de compra y venta </strong>en los horarios Asia, London y New York.</li>
            <li class="list-group-item">Aula virtual de <strong>trading en vivo de 2 a 5 veces por semana</strong> y en horarios de Asia, Londres y Nueva York.</li>
            <li class="list-group-item">Análisis a mediano plazo con <strong>principales pares e índices.</strong></li>
          </ol>
          <% } else if (product.name==='BP-Plan 2 - Sesiones de operación en vivo' ) {%>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-logo-envivo-TYP.png">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Aula virtual de <strong>trading en vivo de 2 a 5 veces por semana</strong> y en horarios de Asia, Londres y Nueva York.</li>
            <li class="list-group-item">Análisis del mercado <strong>juntos a los alumnos.</strong></li>
          </ol>
          <% } else if (product.name==='BP-Plan 1 - Oportunidades' ){%>
          <div id="divLogoPlan" class="col-3">
            <img class="logoPlan img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-logo-alertas-TYP.png">
          </div>
          <ol class="list-group list-group-flush mt-3 mb-4 col-9">
            <li class="list-group-item">Acceso completo a nuestros <strong>cursos en línea de estrategias en forex.</strong></li>
          </ol>
          <% } %>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row ">
        <div class="col  my-5 me-2 databox">
          <div class="d-flex flex-column align-items-center">
            <p id="tituloBox">
              Descarga nuetra App
            </p>
            <img id="imgBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-landing-cells.png">
            <div class="row align-items-center">
              <div class="col ">
                <a href="https://play.google.com/store/apps/details?id=com.invrtir&pli=1"><img id="buttonBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-boton-google-TYP.png"></a>
              </div>
              <div class="col ">
                <a href="">
                  <img id="buttonBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-boton-apple-TYP.png">
                </a>
              </div>
            </div>
          </div>

        </div>
        <div class="col my-5 ms-2 databox">
          <div class="d-flex flex-column align-items-center">
            <p id="tituloBox">
              !Espera! Antes de empezar...
            </p>
            <p class="p-3">Te sugerimos que crees y fondees una cuenta con un broker que permita hacer operaciones en Forex.</p>
            <p class="p-3">Aqui en Invrtir, trabajamos con ..., a continuación te comparto un instructivo para crear y fondear una cuenta en Forex.</p>
            <div class="row align-items-center">
              <div class="col ">
                <img id="imgBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-broker-Landing.png">
              </div>
              <div class="col ">
                <a href="">
                  <img id="buttonBox" class="img-fluid" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/InvrtirFx-boton-broker-TYP.png">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</html>