<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
</head>

<body>
  <script src="https://cdn.logwork.com/widget/countdown.js"></script>

  <div class="cover">
    <a href="https://logwork.com/countdown-wx34" class="count countdown-timer" data-timezone="America/Guayaquil"
      data-language="es" data-date="2022-08-31 20:00" data-background="#4ca0ff" data-digitscolor="#ffffff">.</a>

    <img class="logo" src="https://d8ff17fs33kjt.cloudfront.net/logos/Logo+Invrtir+1.svg">
    <h3 class="subtitle">WEBINAR GRATUITO</h3>
    <h1 class="maintitle">INICIA TUS <strong>INVERSIONES</strong> DE MANERA <strong>SEGURA E INTELIGENTE</strong> USANDO
      <strong>ETFs</strong>
    </h1>
    <p class="subtitleb">¡Empieza ya! a invertir tu dinero con una estrategia fácil</p>
    <img class="iconwebinar"
      src="https://d8ff17fs33kjt.cloudfront.net/eventos/Webinar+landings/icon+webinar+etf+v2.png">
    <div class="buttoncontainer"><a class="regbutton" href="#formregister">¡Regístrate ahora!</a></div>
  </div>

  <div class="secondblock">
    <h2 class="lefttitle">Invrtir te ayudará <span class="resaltado">desde cero</span> en el mundo de las inversiones
    </h2>
    <div class="video">
      <img class="imgresponsive"
        src="https://invrtir.s3.us-east-2.amazonaws.com/Wesite-content/Landing+principal/invrtir-services.jpeg">
    </div>
    <p class="textcontent">Aprende desde cero a invertir en la Bolsa de Valores de Estados Unidos, <strong>no importa si
        no tienes experiencia</strong>, te guiaremos pasoo a paso en este camino.</p>
    <br><br>
    <div class="buttoncontainer"><a class="regbutton" href="#formregister">¡Regístrate ahora!</a></div>
  </div>


  <div class="thirdblock">
    <h2 class="centertitle">¿Qué aprenderás en este Webinar?</h2>
    <div class="center">
      <img class="imgwebinar"
        src="https://d8ff17fs33kjt.cloudfront.net/eventos/Webinar+landings/invrtir-icon-money.png">
    </div>
    <ul>
      <li>La mejor y más facil estrategia para comenzar a invertir en la Bolsa de Valores de Estados Unidos</li>
      <li>Las mejores alternativas para invertir a largo plazo</li>
      <li>Cómo invertir en todas las mejores compañías en Estados Unidos con una sola elección</li>
      <li>Las ganancias que podrías generar a futuro con tus inversiones</li>
    </ul>
  </div>


  <div class="fourthblockmobile">
    <div class="bookcontainer">
      <h2 class="centertitle">y además... ¡obtén un bono especial!</h2>
      <img class="bookcover"
        src="https://invrtir.s3.us-east-2.amazonaws.com/Wesite-content/Page-Ebooks/Invrtir-ebook1-Dan-Neira.jpg">
      <p>Registrate gratis a nuestro webinar y recibe <strong>¡GRATIS!</strong>, nuestro ebook para nuevos
        inversionistas</p>
    </div>
    <div class="buttoncontainerbook"><a class="regbutton" href="#formregister">¡Regístrate ahora!</a></div>
  </div>

  <div class="fourthblockweb">
    <div class="bookcontainerweb">
      <img class="bookcoverweb"
        src="https://invrtir.s3.us-east-2.amazonaws.com/Wesite-content/Page-Ebooks/Invrtir-ebook1-Dan-Neira.jpg">
    </div>
    <div class="bookdetailweb">
      <p>Registrate gratis a nuestro webinar y recibe <strong>¡GRATIS!</strong>, nuestro ebook para nuevos
        inversionistas</p>
      <div class="buttoncontainerbook"><a class="regbutton" href="#formregister">¡Regístrate ya!</a></div>
    </div>
  </div>

  <div class="casosexito">
    <div class="testimonialblock">
      <img class="photo"
        src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/Pagina-Curso2/testimonials/invrtir-pedro-ialenti.jpg">
      <h4 class="testimonialname">Pedro Lalenti</h4>
      <p class="testimonialtext">"Aprendí como funciona el mundo de las inversiones en acciones. Explicaciones claras de
        la más básico a lo mas avanzado, y al momento de tener alguna duda, basta con preguntar y sin problemas te
        responderán."</p>
    </div>

    <div class="testimonialblock">
      <img class="photo"
        src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/Pagina-Curso2/testimonials/invrtir-renato-correa.JPG">
      <h4 class="testimonialname">Renato Correa</h4>
      <p class="testimonialtext">"Sin duda ha sido de gran ayuda para comprender el mercado bursátil. Las tutorías son
        claras y precisas. El contenido resulta muy interesante."</p>
    </div>

    <div class="testimonialblock">
      <img class="photo" src="https://www.filepicker.io/api/file/DnMmEtq5RsyQrEgp9JdG">
      <h4 class="testimonialname">Florencio Marquez</h4>
      <p class="testimonialtext">"Todo muy bien explicado y te ayuda a entender como funciona el mercado bursátil de
        EE.UU. de mi punto de vista lo recomiendo es gratis y no se van a arrepentir yo lo leí y decidí incursionar en
        este mundo."</p>
    </div>
  </div>

  <div class="formblock" id="formregister">
    <h2 class="centertitle">¡Registrate ahora!</h2>
    <a href="https://logwork.com/countdown-wx34" class="count countdown-timer" data-timezone="America/Guayaquil"
      data-language="es" data-date="2022-08-31 20:00" data-background="#4ca0ff" data-digitscolor="#ffffff">.</a>

    <div class="formcontainer">
      <form class="needs-validation" action="" method="POST" novalidate>
        <div class="mb-3">
          <input placeholder="Nombre" type="text" class="form-control" id="inputName" name="inputName"
            aria-describedby="namelHelp" required />
          <div class="invalid-feedback">
            Ingrese el Nombre
          </div>
        </div>
        <div class="mb-3">
          <input placeholder="Apellido" type="text" class="form-control" id="inputLastName" name="inputLastName"
            aria-describedby="lastNamelHelp" required />
          <div class="invalid-feedback">
            Ingrese el Apellido
          </div>
        </div>
        <div class="mb-3">
          <input placeholder="Correo" type="email" class="form-control" id="inputEmail" name="inputEmail"
            aria-describedby="emailHelp" required />
          <div class="invalid-feedback">
            Ingrese el Correo
          </div>
        </div>
        <div class="mb-3">
          <input placeholder="País" type="text" class="form-control" id="inputCountry" name="inputCountry"
            aria-describedby="countrylHelp" required />
          <div class="invalid-feedback">
            Ingrese su País
          </div>
        </div>
        <div class="mb-3">
          <input placeholder="Número de telefono" type="text" class="form-control" id="inputPhone" name="inputPhone"
            aria-describedby="phonelHelp" required />
          <div class="invalid-feedback">
            Ingrese su número de telefono
          </div>
        </div>
        <div class="mb-3 d-none">
          <input required type="text" class="form-control" id="inputAffcode" name="inputAffcode"
            aria-describedby="affcodelHelp" value=<%=affcode%>
          />
        </div>
        <div class="mb-3 d-none">
          <input required type="text" class="form-control" id="inputEvent" name="inputEvent"
            aria-describedby="eventlHelp" value='<%- event%>' />
        </div>
        <div class="mb-3 d-none">
          <input required type="text" class="form-control" id="inputZoom" name="inputZoom" aria-describedby="zoomlHelp"
            value=<%=idZoom%>
          />
        </div>
        <button type="submit" class="buttonform btn btn-primary">Registrar</button>
      </form>
    </div>

  </div>

  <div class="faqblock">

    <h2 class="lefttitle">Preguntas Frecuentes</h2>
    <p class="pregunta">¿Necesito experiencia previa para asistir al webinar?</p>
    <p class="respuesta">No necesitas ninguna experiencia o nocimientos previos, lo que verás en este webinar lo podrás
      comprender de una manera sencilla y sobretodo lo podrás aplicar.</p>
    <p class="pregunta">¿Cuánto dinero necesito para comenzar?</p>
    <p class="respuesta">Puedes empezar a invertir desde $5 no hay minimos tu puedes definir la cantidad que se adapte a
      tus posibilidades.</p>
    <p class="pregunta">¿Despues de este webinar podré comenzar a invertir mi dinero?</p>
    <p class="respuesta">Absolutamente si, luego de este webinar tendrás los conocimientos necesarios para comenzar con
      una estrategia de inversión que podrás implementar de inmediato.</p>
    <p class="pregunta">¿Donde puedo aprender más sobre inversiones?</p>
    <p class="respuesta">Tienes disponible nuestro <a class="links" target="_blank"
        href="https://podcast.invrtir.com">Podcast</a> y nuestro canal de <a class="links" target="_blank"
        href="https://link.invrtir.com/youtube">Youtube</a> para que puedas obtener conocimientos importantes para
      manejar tus inversiones.</p>
  </div>

  <div class="maspreguntas">
    <h2 class="centertitle">¿Tienes más preguntas?</h2>
    <br>
    <a class="whatsappbutton" target="_blank" href="https://link.invrtir.com/escribeme">Escríbenos por Whatsapp <i
        class="fab fa-whatsapp fa-2x"></i></a>
  </div>

  <div class="social">
    <!-- Instagram -->
    <a style="color: #ac2bac;" href="https://www.instagram.com/invrtir/" role="button"><i
        class="socialicon fab fa-instagram fa-2x"></i></a>

    <!-- Tiktok -->
    <a style="color: #353535;" href="https://www.tiktok.com/@invrtir" role="button"><i
        class="socialicon fab fa-tiktok fa-2x"></i></a>

    <!-- Youtube -->
    <a style="color: #dd4b39;" href="https://link.invrtir.com/youtube" role="button"><i
        class="socialicon fab fa-youtube fa-2x"></i></a>

    <!-- Whatsapp -->
    <a style="color: #25d366;" href="https://link.invrtir.com/escribeme" role="button"><i
        class="socialicon fab fa-whatsapp fa-2x"></i></a>
  </div>


  <script>
    (() => {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  </script>
</body>
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<style media="screen">
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,200;1,600&display=swap');



  body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
  }

  p {
    line-height: 200%;
    text-align: justify;
    font-size: 16px;
  }

  .center {
    text-align: center;
  }

  .cover {
    text-align: center;
    padding: 0px 5% 200px 5%;
    background: rgb(252, 240, 253);
    background: linear-gradient(28deg, rgba(252, 240, 253, 1) 0%, rgba(201, 233, 250, 1) 100%);
  }

  .count {
    margin: 0px 0px 40px 0px;
    color: transparent;
  }

  .logo {
    width: 60px;
    margin: 0px 0px 20px 0px;
  }

  .iconwebinar {
    width: 100%;
    margin: 30px 0px;
  }

  .imgwebinar {
    width: 60%;
    margin: 30px auto;
    text-align: center;
  }

  .imgresponsive {
    width: 100%;
  }

  .subtitle {
    font-size: 1.5vh;
    line-height: 80%;
    color: #ff6600;
  }

  .subtitleb {
    font-size: 2vh;
    line-height: 100%;
    text-align: center;
  }

  .maintitle {
    font-size: 3vh;
    line-height: 120%;
    font-weight: 600;
  }

  .maintitlehighlight {
    font-weight: 800;
  }

  .banner {
    border: 1px solid #232323;
    height: 200px;
    width: 100%;
    margin: 50px auto;
  }

  .video {
    margin: 50px auto;
  }

  .secondblock {
    padding: 130px 5%;
  }

  .textcontent {
    text-align: center;
  }

  .lefttitle {
    text-align: left;
    font-size: 4vh;
    font-weight: 800;
  }

  .resaltado {
    color: #ff6600;
  }

  .centertitle {
    text-align: center;
    font-size: 3.5vh;
    font-weight: 800;
  }

  .buttoncontainer {
    text-align: center;
    margin-top: 30px;
  }

  .buttoncontainerbook {
    text-align: center;
    margin-top: 30px;
  }

  .regbutton {
    background-color: #ff6600;
    padding: 20px 50px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    margin: 100px auto;
    position: relative;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px -7px;
  }

  .regbutton:hover {
    background-color: #ff9900;
    /* Green */
    color: white;
  }

  ul li {
    margin: 20px 0px;
    line-height: 130%;
    font-size: 20px;
  }

  .thirdblock {
    padding: 130px 5%;
    background-color: #f8f8f8;
  }

  .fourthblockmobile {
    padding: 130px 5% 130px 5%;
  }

  .fourthblockweb {
    padding: 130px 5% 20px 5%;
    display: none;
  }

  .bookcover {
    width: 80%;
    margin: 20px auto 50px auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .bookcontainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .bookcoverweb {
    width: 70%;
    margin: auto;
  }

  .bookcontainerweb {
    text-align: center;
  }

  .casosexito {
    padding: 130px 5% 130px 5%;
    background-color: #f8f8f8;
  }

  .testimonialblock {
    padding: 30px 20px;
    background-color: #ffffff;
    text-align: center;
    width: 90%;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .photo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .testimonialtext {
    font-size: 14px;
    line-height: 120%;
  }

  .testimonialname {
    font-weight: 800;
    font-size: 16px;
  }

  .formblock {
    text-align: center;
    padding: 130px 5% 0 5%;
    background-color: #ffffff;
  }

  .formcontainer {
    margin: 40px auto;
    width: 80%;
    font-weight: 800;
  }

  .fieldcontainer {
    margin: 40px 0px;
  }

  .faqblock {
    text-align: center;
    padding: 130px 5% 130px 5%;
    background-color: #ffffff;
  }

  .pregunta {
    font-weight: 600;
    margin-top: 50px;
    font-size: 18px;
  }

  .respuesta {
    margin-left: 20px;
  }

  .links {
    color: #ff6600;
    font-weight: 800;
  }

  .social {
    text-align: center;
    padding: 130px 5% 130px 5%;
  }

  .socialicon {
    margin: 0px 20px;
  }

  .buttonform {
    background-color: #ff6600;
    padding: 10px 50px;
    border: #ffffff;
  }

  .buttonform:hover {
    background-color: #ff9900;
    padding: 10px 50px;
    border: #ffffff;
  }

  .whatsappbutton {
    background-color: #25d366;
    color: #ffffff;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 60px;
    font-size: 16px;
  }

  .whatsappbutton:hover {
    background-color: #25d299;
    color: #ffffff;
  }

  .maspreguntas {
    text-align: center;
  }

  @media only screen and (min-width: 768px) {
    .cover {
      padding: 0px 25% 100px 25%;
    }

    .maintitle {
      font-size: 4vh;
    }

    .secondblock {
      padding: 130px 25%;
    }

    .thirdblock {
      padding: 130px 25%;
    }

    .fourthblockmobile {
      display: none;
    }

    .fourthblockweb {
      padding: 130px 15%;
      display: inline;
      display: flex;
      flex-direction: row;
    }

    .bookdetailweb {
      padding-top: 100px;
      width: 50%;
      align-items: center;
    }

    .casosexito {
      padding: 130px 25%;
      display: flex;
      flex-direction: row;
    }

    .testimonialblock {
      width: 30%;
    }

    .formblock {
      text-align: center;
      padding: 130px 25%;
      background-color: #ffffff;
    }

    .faqblock {
      text-align: center;
      padding: 130px 25% 130px 25%;
      background-color: #ffffff;
    }

    .formcontainer {
      width: 350px;
    }

    .imgwebinar {
      width: 300px;
      margin: auto;
    }
  }
</style>

</html>