<footer class="container" style="background-color: #000000; padding-bottom: 40px; margin-top: -20px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 p-2">
      <img src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/logo-invrtir-bnc.svg" style="height: 30px; float: left;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 p-2">
      <a target="_blank" href="https://www.instagram.com/invrtir">
        <img src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/invrtir-instagram.svg" style="height: 15px; float: left; margin: 0px 20px 15px 0px;">
      </a>
      <a target="_blank" href="https://www.facebook.com/Invrtir">
        <img src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/invrtir-facebook.svg" style="height: 15px; float: left; margin: 0px 20px 15px 0px;">
      </a>
      <a target="_blank" href="https://www.linkedin.com/company/invrtir/">
        <img src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/invrtir-linkedin.svg" style="height: 15px; float: left; margin: 0px 20px 15px 0px;">
      </a>
      <a target="_blank" href="mailto:contacto@invrtir.com">
        <img src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/invrtir-email.svg" style="height: 15px; float: left; margin: 0px 20px 15px 0px;">
      </a>
      <a target="_blank" href="https:link.invrtir.com/escribeme">
        <img src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/invrtir-whatsapp.svg" style="height: 15px; float: left; margin: 0px 20px 15px 0px;">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 p-2" style="margin-top: 15px;">
      <p style="color: #ffffff; font-size: 12px; line-height: 120%; text-align: justify;">Invrtir es una Fintech que
        brinda los conocimientos y herramientas para que puedas obtener insights y analisis que te ayuden a tomar
        decisiones de inversión en acciones de compañías en Estados Unidos, Invrtir provee conocimientos desde cero para
        que puedas crear nuevas fuentes de ingresos que te ayuden a construir tu nuevo futuro financiero.</p>
      <p style="color: #ffffff; font-size: 12px; line-weight: 90%;">Email: <a href="mailto:contacto@invrtir.com">contacto@invrtir.com</a> Tel: <a href="tel:+593967507365">(+593)96750-7365</a><br></p>
      <p style="color: #ffffff; font-size: 12px;">Hecho con ❤️ en Ecuador</p>
      <p style="color: #ffffff; font-size: 11px; line-height: 120%; text-align: justify;">Invrtir no es un broker /
        agente registrado. Toda la información proporcionada en la red de sitios web de Invrtir presenta información
        real del mercado tal y como está. Estos sitios no constituyen una representación por parte del editor o una
        solicitud de compra o venta de valores. Todas las opiniones proporcionadas se basan en fuentes que se consideran
        confiables y están escritas de buena fe, pero no se hace ninguna garantía o representación, expresa o implícita,
        en cuanto a su exactitud. Existen riesgos asociados con cualquier inversión y recomendamos encarecidamente a los
        lectores que complementen la información de los análisis, informes especiales y boletines con investigación
        independiente y otro asesoramiento profesional antes de invertir en cualquier activo financiero.</p>
      <p style="color: #ffffff; font-size: 12px; line-height: 120%;">Copyright © 2021 Invrtir, una división de Dan Neira
        Capital Partners. Todos los derechos reservados.</p>
      <br>
      <ul class='list-unstyled' style="font-size: 13px;">
        <li>
          <p> </p>
        </li>
        <li>
          <a href="{{'https://invrtir.com/p/terms' | school_link}}">
            {{'common.terms'|i18n}}
          </a>
          <a> | </a>
          <a href="{{'https://invrtir.com/p/privacy' | school_link}}">
            {{'common.privacy_policy' | i18n}}
          </a>
        </li>
      </ul>
      <p style="color: #ffffff; font-size: 13px;">
        {{'footer.copyright'|i18n}}
        {{current_school.name}}
      </p>
    </div>
  </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script>
  function basicanual() {
    document.getElementById("basicanual").style.display = "inline-block";
    document.getElementById("advancelifetime").style.display = "none";
    document.getElementById("btnbasicanual").style.borderColor = "#ff6600";
    document.getElementById("btnbasicanual").style.borderWidth = "3px";
    document.getElementById("btnadvancelifetime").style.borderColor = "#ffffff";
    document.getElementById("btnadvancelifetime").style.borderWidth = "1px"
  }

  function advancelifetime() {
    document.getElementById("advancelifetime").style.display = "inline-block";
    document.getElementById("basicanual").style.display = "none";
    document.getElementById("btnbasicanual").style.borderColor = "#ffffff";
    document.getElementById("btnbasicanual").style.borderWidth = "1px";
    document.getElementById("btnadvancelifetime").style.borderColor = "#ff6600";
    document.getElementById("btnadvancelifetime").style.borderWidth = "3px"
  }



  function proanual() {
    document.getElementById("proanual").style.display = "inline-block";
    document.getElementById("prolifetime").style.display = "none";
    document.getElementById("btnproanual").style.borderColor = "#ff6600";
    document.getElementById("btnproanual").style.borderWidth = "3px";
    document.getElementById("btnprolifetime").style.borderColor = "#ffffff";
    document.getElementById("btnprolifetime").style.borderWidth = "1px"
  }

  function prolifetime() {
    document.getElementById("prolifetime").style.display = "inline-block";
    document.getElementById("proanual").style.display = "none";
    document.getElementById("btnproanual").style.borderColor = "#ffffff";
    document.getElementById("btnproanual").style.borderWidth = "1px";
    document.getElementById("btnprolifetime").style.borderColor = "#ff6600";
    document.getElementById("btnprolifetime").style.borderWidth = "3px"
  }


  function cryptoanual() {
    document.getElementById("cryptoanual").style.display = "inline-block";
    document.getElementById("cryptolifetime").style.display = "none";
    document.getElementById("btncryptoanual").style.borderColor = "#ff6600";
    document.getElementById("btncryptoanual").style.borderWidth = "3px";
    document.getElementById("btncryptolifetime").style.borderColor = "#ffffff";
    document.getElementById("btncryptolifetime").style.borderWidth = "1px"
  }

  function cryptolifetime() {
    document.getElementById("cryptolifetime").style.display = "inline-block";
    document.getElementById("cryptoanual").style.display = "none";
    document.getElementById("btncryptoanual").style.borderColor = "#ffffff";
    document.getElementById("btncryptoanual").style.borderWidth = "1px";
    document.getElementById("btncryptolifetime").style.borderColor = "#ff6600";
    document.getElementById("btncryptolifetime").style.borderWidth = "3px"
  }


  function cryptoproanual() {
    document.getElementById("cryptoproanual").style.display = "inline-block";
    document.getElementById("cryptoprolifetime").style.display = "none";
    document.getElementById("btncryptoproanual").style.borderColor = "#ff6600";
    document.getElementById("btncryptoproanual").style.borderWidth = "3px";
    document.getElementById("btncryptoprolifetime").style.borderColor = "#ffffff";
    document.getElementById("btncryptoprolifetime").style.borderWidth = "1px"
  }

  function cryptoprolifetime() {
    document.getElementById("cryptoprolifetime").style.display = "inline-block";
    document.getElementById("cryptoproanual").style.display = "none";
    document.getElementById("btncryptoproanual").style.borderColor = "#ffffff";
    document.getElementById("btncryptoproanual").style.borderWidth = "1px";
    document.getElementById("btncryptoprolifetime").style.borderColor = "#ff6600";
    document.getElementById("btncryptoprolifetime").style.borderWidth = "3px"
  }
  function forexpremiumanual() {
    document.getElementById("forexpremiumanual").style.display = "inline-block";
    document.getElementById("btnforexpremiumanual").style.borderColor = "#ff6600";
    document.getElementById("btnforexpremiumanual").style.borderWidth = "3px";
  }
  function forexenvivomanual() {
    document.getElementById("forexenvivomanual").style.display = "inline-block";
    document.getElementById("btnforexenvivomanual").style.borderColor = "#ff6600";
    document.getElementById("btnforexenvivomanual").style.borderWidth = "3px";
  }
  function forexalertasmanual() {
    document.getElementById("forexalertasmanual").style.display = "inline-block";
    document.getElementById("btnforealertasmanual").style.borderColor = "#ff6600";
    document.getElementById("btnforealertasmanual").style.borderWidth = "3px";
  }
</script>